/*   ______                  _
     |  _  \                | |
     | | | |___  __ _ _ __  | |    _   _  ___ _   _
     | | | / _ \/ _` | '__| | |   | | | |/ __| | | |
     | |/ /  __/ (_| | |    | |___| |_| | (__| |_| |
     |___/ \___|\__,_|_|    \_____/\__,_|\___|\__, |
                                               __/ |
                                              |___/   */


/* Reset: http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Dear Lucy styles */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {  min-width: 320px; color: #505050; }
body, button, input {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
button { border: 0; color: #FFF; background-color: #F35D72; padding: 15px 55px; cursor: pointer; line-height: 20px; }
input { border: 0; background-color: #FFF; line-height: 20px; padding: 15px; box-shadow: 0px 0px 9px -2px #CCC; }
h2 { font-size: 33px; }

.introduction { position: relative; background-color: #000; height: 680px; overflow: hidden; }
.introduction .video-container { width: 1280px; margin-left: auto; margin-right: auto; }
.introduction .video-overlay { text-align: center; color: #FFF; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; }

.logo-and-tagline .logo { margin-top: 80px; margin-bottom: 85px; }
.logo-and-tagline h2 { margin-bottom: 30px; }

.sign-up { margin-top: 75px; }
.sign-up button { position: relative; padding: 15px 75px; }
.sign-up button span { position: absolute; right: 20px; font-size: 28px; line-height: 18px; }

.sign-up-form { background-color: #EEF0F0; max-height: 0; overflow: hidden; }
.sign-up-form form { max-width: 600px; margin: 0 auto; opacity: 0; }
.sign-up-form h2 { color: #F35D72; padding-top: 40px; }
.sign-up-form p { margin: 15px 0 10px; line-height: 20px; }
.sign-up-form p + p { margin: 10px 0 30px; }
.sign-up-form label { display: inline-block; color: #644994; width: 260px; margin: 10px 0; margin-right: 35px; }
.sign-up-form input[type=text] { width: 100%; margin: 10px 0; }
.sign-up-form label.confirm { position: relative; display: inline-block; width: 5000px; cursor: pointer; }
.sign-up-form label.confirm input { position: relative; left: -1000px; }
.sign-up-form label.confirm input:before { content: ''; position: absolute; width: 20px; height: 20px; background-color: #FFF; }
.sign-up-form label.confirm input:checked:before { content: 'X'; color: #F35D72; }
.sign-up-form button { margin: 10px 0 80px; }

.contact { position: relative; z-index: 5; background: #F4F7F9; overflow: hidden; padding: 35px; box-shadow: 0px 0px 9px 0px #CCC; }
.contact address { display: inline-block; min-width: 100px; margin-bottom: 30px; }
.contact address > div { margin-top: 9px; }
.contact address h4 { font-weight: 700; color: #F35D72; }
.contact address:first-of-type { float: left; margin-left: 5px; margin-right: 90px; }
